<!-- The Presenters -->
<div id="presenter">
    <div class="container">
        <div class="text-center wrap_title">
            <h1 style="font-family: 'Open Sans', sans-serif; font-size:250%;" align="center">The Presenters</h1>
            <p class="lead"> 최고의 전문가들을 연사 및 패널로 초대하였습니다. </p>
        </div>

        <!-- row 1 -->
        <div class="row" style="margin-top:30px">
          <div class="col-sm-4 block wow bounceIn text-center">
              <img class="presenter" src="{{ site.baseurl }}/static/img/team/kjw0612.jpg">
              <div class="box-ct">
                  <h3>김지원</h3>
                  <p style="margin-top:5px;"> 서울대학교 박사과정 </p>
                  <p>
                    <div class="list-inline intro-social-buttons">
                      <a href="http://jiwonkim.org"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/homepage_icon.png"></a>
                      <a href="http://fb.me/kjw0612"><i class="svg-icon facebook"></i></a>
                      <a href="http://github.com/kjw0612"><i class="svg-icon github"></i></a>
                      <a href="https://scholar.google.co.kr/citations?user=xhvzHFAAAAAJ"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/google_scholar_icon.png"></a>
                    </div>
                  </p>
              </div>
              <h4>Deep Image Super-Resolution</h4>
              <p style="font-size:15px; text-align:justify;"> 영상 해상도 증가(Image Super-Resolution)는 TV/컴퓨터/스마트폰을 포함 거의 모든 디바이스에서 이미 사용되고 있는 기초 기술로, 비주얼 임장감 증진 등 더 나은 영상 생성을 위해 꼭 필요합니다. 하지만 오랜 연구에도 불구하고 성능 향상이 더디었으나, 저희는 최근 Deep CNN, Deeply-Recursive Convolutional Net 등 최신 딥러닝 기술 연구/개발을 통하여 성능에 진일보를 이루었습니다. 이에 관련 내용을 발표 드리고자 합니다. <a href="https://drive.google.com/file/d/0B5xl2L77gZfVNWxFdnJwN1JvM28/view?usp=sharing">[slides]</a></p>
              <p style="font-size:15px; text-align:left;"><b>Reference</b></p>
              <ol style="font-size:15px; text-align:left;">
                <li>Accurate Image Super-Resolution Using Very Deep Convolutional Networks <a href="http://arxiv.org/pdf/1511.04587.pdf">[PDF]</a></li>
                <li>Deeply-Recursive Convolutional Network for Image Super-Resolution <a href="http://arxiv.org/pdf/1511.04491.pdf">[PDF]</a></li>
              </ol>
          </div>
            <div class="col-sm-4 block wow bounceIn text-center">
                <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/hyeonwoo.jpg">
                <div class="box-ct">
                    <h3>노현우</h3>
                    <p style="margin-top:5px;"> POSTECH Ph.D. Student </p>
                    <p>
                      <div class="list-inline intro-social-buttons">
                        <a href="http://cvlab.postech.ac.kr/~hyeonwoonoh/"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/homepage_icon.png"></a>
                        <a href="http://fb.me/hyeonwoo.noh"><i class="svg-icon facebook"></i></a>
                        <a href="http://github.com/HyeonwooNoh"><i class="svg-icon github"></i></a>
                        <a href="https://scholar.google.co.kr/citations?user=_ycM9GAAAAAJ"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/google_scholar_icon.png"></a>
                      </div>
                    </p>
                </div>
                <h4>Semantic Segmentation and Visual QA</h4>
                <p style="font-size:15px; text-align:left;"> 본 발표에서는 Semantic Segmentation과 Visual Question Answering 두가지 주제를 다루며. 특히 Deconvolutional Network를 사용한 Semantic Segmentation 방법 및 Visual Question Answering의 전반적인 연구 동향에 대하여 발표할 예정입니다. <a href="https://drive.google.com/file/d/0B5xl2L77gZfVRXZxQWNmSGlBemc/view?usp=sharing">[slides]</a></p>
                <p style="font-size:15px; text-align:left;"><b>Reference</b></p>
                <ol style="font-size:15px; text-align:left">
                  <li>Learning Deconvolution Network for Semantic Segmentation <a href="http://arxiv.org/pdf/1505.04366.pdf">[PDF]</a> <a href="http://cvlab.postech.ac.kr/research/deconvnet/">[Project page]</a></li>
                  <li>Decoupled deep neural network for semi-supervised semantic segmentation <a href="http://papers.nips.cc/paper/5858-decoupled-deep-neural-network-for-semi-supervised-semantic-segmentation.pdf">[PDF]</a> <a href="http://cvlab.postech.ac.kr/research/decouplednet/">[Project page]</a></li>
                  <li>Image Question Answering using Convolutional Neural Network with Dynamic Parameter Prediction <a href="http://arxiv.org/pdf/1511.05756">[PDF]</a> <a href="http://cvlab.postech.ac.kr/research/dppnet/">[Project page]</a></li>
                  <li>Learning Transferrable Knowledge for Semantic Segmentation with Deep Convolutional Neural Network <a href="http://arxiv.org/abs/1512.07928">[PDF]</a> <a href="http://cvlab.postech.ac.kr/research/transfernet/">[Project page]</a></li>
                  <li>Visual question answering <a href="http://www.visualqa.org/">[Project page]</a></li>
                  <li>Stacked Attention Networks for Image Question Answering <a href="http://arxiv.org/abs/1511.02274">[PDF]</a></li>
                </ol>
            </div>
            <div class="col-sm-4 block wow bounceIn text-center">
                <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/hyunseok.png">
                <div class="box-ct">
                    <h3>민현석</h3>
                    <p style="margin-top:5px;"> 삼성전자 / 책임연구원 </p>
                    <p>
                      <div class="list-inline intro-social-buttons">
                        <a href="http://fb.me/hyunseok.min"><i class="svg-icon facebook"></i></a>
                        <a href="https://scholar.google.co.kr/citations?user=METPtcAAAAAJ"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/google_scholar_icon.png"></a>
                      </div>
                    </p>
                </div>
                <h4>Deep Learning and Computer Vision</h4>
                <p style="font-size:15px; text-align:justify;"> 인공지능(혹은 딥러닝) 전공자가 아닌 영상처리 전공자 입장에서 딥러닝이란 개념을 정리하고, 딥러닝의 최근 발전방향과 향후 전망에 대해서 살펴보고자 한다. <a href="https://drive.google.com/file/d/0B5xl2L77gZfVbElRbnhMYTA2ekU/view?usp=sharing">[slides]</a></p>
            </div>
        </div>
        <hr>

        <!-- row 2 -->
        <div class="row" style="margin-top:10px">
          <div class="col-sm-4 block wow bounceIn text-center">
              <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/apaek.png">
              <div class="box-ct">
                  <h3>백승욱</h3>
                  <p style="margin-top:5px;"> CEO, Lunit, Inc. </p>
                  <div class="list-inline intro-social-buttons">
                    <a href="https://www.facebook.com/seungwook.paek?fref=ts"><i class="svg-icon facebook"></i></a>
                    <a href="https://www.linkedin.com/profile/view?id=AAkAAAXGTtsBedGX7vT4kNK_LE1E4fyqCiNO7BI&authType=NAME_SEARCH&authToken=PQ7r&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A96882395%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1451813882430%2Ctas%3Aanthony"><i class="svg-icon linkedin"></i></a>
                    <a href="https://scholar.google.com/citations?user=nwc4OSgAAAAJ"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/google_scholar_icon.png"></a>
                  </div>
              </div>

          </div>
          <div class="col-sm-4 block wow bounceIn text-center">
              <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/donggeun.jpg">
              <div class="box-ct">
                  <h3>유동근</h3>
                  <p style="margin-top:5px;"> 카이스트 RCV 연구실 박사과정 </p>
                  <div class="list-inline intro-social-buttons">
                    <a href="https://www.facebook.com/profile.php?id=100002003157247&fref=ts"><i class="svg-icon facebook"></i></a>
                    <a href="https://www.linkedin.com/profile/view?id=AAkAABSrutQBPFLF6s7Gm370K3CRzdewZ1p5crw&authType=NAME_SEARCH&authToken=_cB6&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A346798804%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1451813968525%2Ctas%3Adonggeun"><i class="svg-icon linkedin"></i></a>
                    <a href="https://scholar.google.com/citations?user=10f-fEYAAAAJ"><img class="svg-icon" src="{{ site.baseurl }}/static/img/icon/google_scholar_icon.png"></a>
                  </div>
              </div>
              <h4>Team Lunit-KAIST at ILSVRC 2015: Challenges and Limitations</h4>
              <p style="font-size:15px; text-align:justify;"> 우리 팀이 독자적으로 개발한 물체검출 방법인 Multi-class AttentionNet에 대하여 자세히 소개합니다. 또한, ILSVRC에 두 번 참가하면서 겪었던 어려움과 느낀점을 공유하고자 합니다. <a href="https://drive.google.com/file/d/0B5xl2L77gZfVZjI1dEhNckdhTE0/view?usp=sharing">[slides]</a></p>
              <p style="font-size:15px; text-align:left;"><b>Reference</b></p>
              <ol style="font-size:15px; text-align:left;">
                <li>AttentionNet: Aggregating Weak Directions for Accurate Object Detection <a href="http://www.cv-foundation.org/openaccess/content_iccv_2015/papers/Yoo_AttentionNet_Aggregating_Weak_ICCV_2015_paper.pdf">[PDF]</a></li>
              </ol>
          </div>
            <div class="col-sm-4 block wow bounceIn text-center">
                <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/sangheum.JPG">
                <div class="box-ct">
                    <h3>황상흠</h3>
                    <p style="margin-top:5px;"> Senior Researcher, Lunit, Inc. </p>
                    <p>
                      <div class="list-inline intro-social-buttons">
                        <a href="http://fb.me/sangheum.hwang"><i class="svg-icon facebook"></i></a>
                        <a href="https://www.linkedin.com/profile/view?id=AAkAABYIJcYBm5gs_DbW3DZhhkqV90xSGC-NV5Y&authType=NAME_SEARCH&authToken=JNth&locale=en_US&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A369632710%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1451814008954%2Ctas%3Asangheum"><i class="svg-icon linkedin"></i></a>
                      </div>
                    </p>
                </div>
                <h4>Weakly Supervised Object Localization</h4>
                <p style="font-size:15px; text-align:justify;"> In this talk, current object localization techniques only using image-level labels are introduced, and their limitations are discussed. To overcome them, a simple but effective training framework called self-transfer learning is proposed.</p>
            </div>
        </div>
        <hr>
    </div>
</div>
