<!doctype HTML>
<!--Create upon the Flatfy Theme by [Andrea Galanti](http://www.andreagalanti.it)-->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ site.name }}">
    <meta name="author" content="{{ site.name }}">

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="static/css/general.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet">

     <!-- Owl-Carousel -->
    <link href="static/css/custom.css" rel="stylesheet">
    <link href="static/css/owl.carousel.css" rel="stylesheet">
    <link href="static/css/owl.theme.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">
    <link href="static/css/animate.css" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="static/css/magnific-popup.css">

    <script src="static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="home">

    <!-- Preloader -->
    <div id="preloader">
        <div id="status"></div>
    </div>

    <!-- FullScreen -->
    <div class="intro-header">
        <div class="col-xs-12 text-center abcen1">
            <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">{{ site.name }}</h1>
            <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">{{ site.description }}</h3>
            <div class="list-inline intro-social-buttons">
            {% include svg-icons.html %}
            </div>
        </div>
        <!-- /.container -->
        <div class="col-xs-12 text-center abcen wow fadeIn">
            <div class="button_down">
                <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#about"> <img class="img_scroll" src="static/img/icon/circle.png" alt=""> </a>
            </div>
        </div>
    </div>


    <!-- NavBar-->

    <nav class="navbar-default stuckMenu isStuck" role="navigation" style="position: relative; top: 0px;">
        <div class="container">
	    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
	    <a class="navbar-brand" href="#home">AI Korea</a>
	    </div>
            <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="menuItem"><a href="#about">About</a></li>
                    <li class="menuItem"><a href="#projects">Projects</a></li>
                    <li class="menuItem"><a href="#team">Team</a></li>
		    <li class="menuItem"><a href="/blog/">Blog</a></li>
                </ul>
            </div>

        </div>
    </nav>


    <!-- About -->
    <div id="about" class="content-section-b" style="border-top: 0">
        <div class="container">

            <div class="text-center wrap_title">
                <h2>About</h2>
                <p class="lead" style="margin-top:0">Our vision.</p>
            </div>

            <div class="row">
              <div class="col-sm-12 lead">
                {{ content }}
              </div>
            </div>

            <div class="row">
                <div class="col-sm-4 wow fadeInDown text-center">
                    <a href="https://www.facebook.com/awesomeai">
			<img class="rotate" src="static/img/icon/like.svg" alt="Generic placeholder image">
		    </a>
                    <h3>Follow Us</h3>
                    <p class="lead2">
			Artificial Intelligence in Korea (AI Korea) 페이스북 페이지에서 인공지능 관련 최신 소식을 받아보세요!
		    </p>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4 wow fadeInDown text-center">
                    <a href="https://www.facebook.com/groups/AIKoreaOpen/">
			<img  class="rotate" src="static/img/icon/laptop.svg" alt="Generic placeholder image">
		    </a>
                    <h3>Join Us</h3>
                    <p class="lead2"> AI Korea Open 페이스북 그룹에 가입하셔서 여러 인공지능 소식을 공유하고 참여해 보아요. 그룹 내의 여러 전문가 분들과 소통할 수 있는 열린 공간입니다. </p>
                </div><!-- /.col-lg-4 -->

                <div class="col-sm-4 wow fadeInDown text-center">
                    <a href="/blog/"><img  class="rotate" src="static/img/icon/clipboard.svg" alt="Generic placeholder image"></a>
                    <h3>Blog</h3>
                    <p class="lead2"> 인공지능 관련 여러 유용한 자료들 정리 및 해외 유명 자료를 번역해 두었습니다.</p>
                </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->
        </div>
    </div>

    <!-- Projects -->
    <div id ="projects" class="content-section-a">
        <div class="container">

            <div class="text-center wrap_title">
                <h2>Our Projects</h2>
                <p class="lead" style="margin-top:0">Some great things we're working on.</p>
            </div>

            <div class="row">
                <div class="col-sm-6 wow fadeInLeftBig">
                     <div id="owl-demo-1" class="owl-carousel">
                        <a href="http://aikorea.org/awesome-rl/">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="static/img/awesome/awesome-rl.png" alt="">
                            </div>
                        </a>
                        <a href="http://jiwonkim.org/awesome-rnn/">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="static/img/awesome/awesome-rnn.png" alt="">
                            </div>
                        </a>
                        <a href="http://jiwonkim.org/awesome-random-forest/#">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="static/img/awesome/awesome-rf.png" alt="">
                            </div>
                        </a>
                        <a href="http://jiwonkim.org/awesome-deep-vision/">
                            <div class="item">
                                <img class="img-responsive img-rounded" src="static/img/awesome/awesome-dv.png" alt="">
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                    <h3 class="section-heading">Awesome-X</h3>
                    <!-- <div class="sub-title lead3">We are maintaining some Awesome lists.</div> -->
                    <div class="lead">
                        We are maintaining some Awesome lists.
                    </div>
		                <div class="lead2">
                      <ul>
                        <li>Reinforcement Learning (강화학습)</li>
                        <li>Recurrent Neural Networks (회귀신경망)</li>
                        <li>Deep Vision (딥러닝 기반 컴퓨터비전)</li>
                        <li>Random Forest (랜덤 포레스트)</li>
                      </ul>
                      <p class="lead2">
                        네 가지 인공지능 / 머신러닝 관련 주제에 대한 폭넓은 자료모음 웹사이트입니다.
                        유명 강의자료, 오픈소스 코드, 분야별 논문, 관련 블로그 포스트 및 데모들이 정리되어 있습니다.<br><br>
                        AI Korea 블로그에서 각각에 대해 보다 자세한 소개글(아래 버튼)을 확인하실 수 있고,
                        왼쪽의 사진을 클릭하시면 직접 사이트로 연결됩니다. <br><br>
                        Github PR, 이메일, Gitter 채팅 참여 등으로 누구나 Awesome 시리즈 작성에 참여하실 수 있습니다!
                      </p>
		                </div>
                    <p><a class="btn btn-embossed btn-primary" href="/blog/awesome/" role="button">View Details</a>
                </div>
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div>

    <hr style="margin: 0;">

    <div class="content-section-a">
        <div class="container">
             <div class="row">
                <div class="col-sm-6 pull-right wow fadeInRightBig">
                    <img class="img-responsive " src="static/img/intro/s1945ii-3.jpg" alt="">
                </div>
                <div class="col-sm-6 wow fadeInLeftBig"  data-animation-delay="200">
                    <h3 class="section-heading">Reinforcement Learning</h3>
                    <p class="lead">
                        We hack games.
                    </p>
                    <p class="lead2">
                      구글 딥마인드에서 인공지능으로 아타리 고전게임을 사람보다 더 잘 플레이하는 것을 보고,
                      다른 재미있는 게임들에도 적용해 보고자 생겨난 프로젝트입니다. <br><br>
                      그 시작으로 Strikers 1945 II (비행기 게임)에 대해 게임 내의 정보들을 읽어들여서
                      직접 짠 알고리즘으로 비행기가 움직일 수 있도록 하는 기반 프레임워크를 구축해 두었습니다. <br><br>
                      간단한 예시 스크립트를 Github 레포지토리 (아래 버튼)에서 확인하실 수 있습니다.
                    </p>
                    <p><a class="btn btn-embossed btn-info" href="https://github.com/aikorea/strikersii_ai                                        " role="button"><strong>Strikers 1945 II</strong></a>
                </div>
            </div>
        </div>
    </div>

    <hr style="margin: 0;">

    <div class="content-section-a">
        <div class="container">
             <div class="row">
                <div class="col-sm-6 pull-left wow fadeInLeftBig">
                    <img class="img-responsive " src="static/img/intro/mt.jpg" alt="Translate!">
                </div>
                <div class="col-sm-6 wow fadeInRightBig"  data-animation-delay="200">
                    <h3 class="section-heading">Machine Translation</h3>
                    <p class="lead">
                        We lower communication barriers.
                    </p>
                    <p class="lead2">
                      최근 딥러닝과 함께 급속도로 발전되고 있는 번역 기술에 힘입어 시작한 영-한 번역 프로젝트입니다. <br><br>
                      많은 데이터를 필요로 하는 딥러닝 기법을 활용하기 위한 번역 데이터 수집을 우선적으로 진행 중입니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- The Team -->
    <div id="team" class="content-section-b">
        <div class="container">
            <div class="text-center wrap_title">
                <h2>The Team</h2>
                <p class="lead" style="margin-top:0">This is our dream team.</p>
            </div>

            <!-- row 1 -->
            <div class="row">
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/xhark.jpg">
                    <div class="box-ct">
                        <h3>xhark</h3>
                        <p> <!-- introduce yourself --> </p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/gyunt.png">
                    <div class="box-ct">
                        <h3>gyunt</h3>
                        <p> <!-- introduce yourself --> </p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/juyong.jpg">
                    <div class="box-ct">
                        <h3>juyong</h3>
                        <p> <!-- introduce yourself --> </p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/kjw0612.jpg">
                    <div class="box-ct">
                        <h3>kjw0612</h3>
                        <p> <!-- introduce yourself --> </p>
                    </div>
                </div>
            </div>


            <!-- row 2 -->
            <div class="row" style="margin-top:10px">
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/carpedm20.png">
                    <div class="box-ct">
                        <h3>carpedm20</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/hshyunsookim.jpg">
                    <div class="box-ct">
                        <h3>hshyunsookim</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/e9t.jpg">
                    <div class="box-ct">
                        <h3>e9t</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/deruci.jpg">
                    <div class="box-ct">
                        <h3>deruci</h3>
                        <p></p>
                    </div>
                </div>
            </div>

            <!-- row 3 -->
            <div class="row" style="margin-top:10px">
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/jonghyuk.jpg">
                    <div class="box-ct">
                        <h3>jonghyuk</h3>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-3 block wow bounceIn text-center">
                    <img class="teammate" src="static/img/team/myungsub.jpg">
                    <div class="box-ct">
                        <h3>myungsub</h3>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-banner">
      <div class="container">
        <p>All contents &copy; 2015 Team AI Korea.</p>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/script.js"></script>
    <!-- StikyMenu -->
    <script src="static/js/stickUp.min.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $(document).ready( function() {
          $('.navbar-default').stickUp();
        });
      });
    </script>
    <!-- Smoothscroll -->
    <script type="text/javascript" src="static/js/jquery.corner.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script>
     new WOW().init();
    </script>
    <script src="static/js/classie.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="static/js/jquery.magnific-popup.js"></script>
</body>
</html>
