<!doctype HTML>
<!--Create upon the Flatfy Theme by [Andrea Galanti](http://www.andreagalanti.it)-->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ site.name }}">
    <meta name="author" content="{{ site.name }}">

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ site.baseurl }}/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="{{ site.baseurl }}/static/css/general.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet">

    <style>
    h3, h4 {margin-top:5px; margin-bottom:0px;}
    h4 {color:#222}
    .intro-social-buttons {margin-top:10px; margin-bottom:0px;}
    </style>

    <script src="{{ site.baseurl }}/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="meetup">

    <!-- Main -->
    <div id="meetup-contents" style="border-top: 0">
        <div class="container">

            <div class="text-center wrap_title">
                <h1 style="font-family: 'Open Sans', sans-serif; font-size:300%;" align="center">Deep Learning Korea Meetup</h1>
            </div>

            <div class="row">
              <div class="col-sm-12 lead">
                {{ content }}
              </div>
            </div>
        </div>
    </div>


    <!-- The Presenters -->
    <div id="presenter">
        <div class="container">
            <div class="text-center wrap_title">
                <h1 style="font-family: 'Open Sans', sans-serif; font-size:250%;" align="center">The Presenters</h1>
                <p class="lead"> 최고의 전문가들을 연사 및 패널로 초대하였습니다. </p>
            </div>

            <!-- row 1 -->
            <div class="row" style="margin-top:30px">
              <div class="col-sm-4 block wow bounceIn text-center">
                  <img class="presenter" src="{{ site.baseurl }}/static/img/team/kjw0612.jpg">
                  <div class="box-ct">
                      <h3>김지원</h3>
                      <p style="margin-top:5px;"> 서울대학교 박사과정 </p>
                      <p>
                        <div class="list-inline intro-social-buttons">
                          <a href="http://fb.me/kjw0612"><i class="svg-icon facebook"></i></a>
                          <a href="http://github.com/kjw0612"><i class="svg-icon github"></i></a>
                        </div>
                      </p>
                  </div>
              </div>
                <div class="col-sm-4 block wow bounceIn text-center">
                    <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/hyeonwoo.jpg">
                    <div class="box-ct">
                        <h3>노현우</h3>
                        <p style="margin-top:5px;"> POSTECH Ph.D. Student </p>
                        <p>
                          <div class="list-inline intro-social-buttons">
                            <a href="http://fb.me/hyeonwoo.noh"><i class="svg-icon facebook"></i></a>
                            <a href="http://github.com/HyeonwooNoh"><i class="svg-icon github"></i></a>
                          </div>
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 block wow bounceIn text-center">
                    <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/hyunseok.png">
                    <div class="box-ct">
                        <h3>민현석</h3>
                        <p style="margin-top:5px;"> 삼성전자 / 책임연구원 </p>
                        <p>
                          <div class="list-inline intro-social-buttons">
                            <a href="http://fb.me/hyunseok.min"><i class="svg-icon facebook"></i></a>
                            <!--<a href="http://github.com/kjw0612"><i class="svg-icon github"></i></a>-->
                          </div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- row 1-2 -->
            <div class="row">
              <div class="col-sm-4 block wow bounceIn text-center">
                <h4>Deep Image Super-Resolution</h4>
                <p style="font-size:15px; text-align:justify;"> 영상 해상도 증가(Image Super-Resolution)는 TV/컴퓨터/스마트폰을 포함 거의 모든 디바이스에서 이미 사용되고 있는 기초 기술로, 비주얼 임장감 증진 등 더 나은 영상 생성을 위해 꼭 필요합니다. 하지만 오랜 연구에도 불구하고 성능 향상이 더디었으나, 저희는 최근 Deep CNN, Deeply-Recursive Convolutional Net 등 최신 딥러닝 기술 연구/개발을 통하여 성능에 진일보를 이루었습니다. 이에 관련 내용을 발표 드리고자 합니다.</p>

              </div>
              <div class="col-sm-4 block wow bounceIn text-center">
                <h4>Semantic Segmentation and Visual QA</h4>
                <p style="font-size:15px; text-align:left;"> 본 발표에서는 Semantic Segmentation과 Visual Question Answering 두가지 주제를 다루며. 특히 Deconvolutional Network를 사용한 Semantic Segmentation 방법 및 Visual Question Answering의 전반적인 연구 동향에 대하여 발표할 예정입니다.</p>
              </div>
              <div class="col-sm-4 block wow bounceIn text-center">
                <h4>Deep Learning and Computer Vision</h4>
                <p style="font-size:15px; text-align:justify;"> 인공지능(혹은 딥러닝) 전공자가 아닌 영상처리 전공자 입장에서 딥러닝이란 개념을 정리하고, 딥러닝의 최근 발전방향과 향후 전망에 대해서 살펴보고자 한다. </p>
              </div>
            </div>
            <hr>


            <!-- row 2 -->
            <div class="row" style="margin-top:10px">
              <div class="col-sm-4 block wow bounceIn text-center">
                  <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/apaek.png">
                  <div class="box-ct">
                      <h3>백승욱</h3>
                      <p style="margin-top:5px;"> CEO, Lunit, Inc. </p>
                  </div>
              </div>
              <div class="col-sm-4 block wow bounceIn text-center">
                  <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/donggeun.jpg">
                  <div class="box-ct">
                      <h3>유동근</h3>
                      <p style="margin-top:5px;"> 카이스트 RCV 연구실 박사과정 </p>
                  </div>
              </div>
                <div class="col-sm-4 block wow bounceIn text-center">
                    <img class="presenter" src="{{ site.baseurl }}/static/img/meetup_presenters/sangheum.JPG">
                    <div class="box-ct">
                        <h3>황상흠</h3>
                        <p style="margin-top:5px;"> Senior Researcher, Lunit, Inc. </p>
                        <p>
                          <div class="list-inline intro-social-buttons">
                            <a href="http://fb.me/sangheum.hwang"><i class="svg-icon facebook"></i></a>
                            <!--<a href="http://github.com/kjw0612"><i class="svg-icon github"></i></a>-->
                          </div>
                        </p>
                    </div>
                </div>
            </div>
            <!-- row 2-2 -->
            <div class="row">
              <div class="col-sm-4 block wow bounceIn text-center">
              </div>
              <div class="col-sm-4 block wow bounceIn text-center">
                <h4>Team Lunit-KAIST at ILSVRC 2015: Challenges and Limitations</h4>
                <p style="font-size:15px; text-align:justify;"> 우리 팀이 독자적으로 개발한 물체검출 방법인 Multi-class AttentionNet에 대하여 자세히 소개합니다. 또한, ILSVRC에 두 번 참가하면서 겪었던 어려움과 느낀점을 공유하고자 합니다. </p>
              </div>
              <div class="col-sm-4 block wow bounceIn text-center">
                <h4>Weakly Supervised Object Localization</h4>
                <p style="font-size:15px; text-align:justify;"> In this talk, current object localization techniques only using image-level labels are introduced, and their limitations are discussed. To overcome them, a simple but effective training framework called self-transfer learning is proposed.</p>
              </div>
            </div>
        </div>
    </div>


    <footer class="footer-banner">
      <div class="container">
        <p>All contents &copy; 2015 Team AI Korea.</p>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/script.js"></script>
    <!-- StikyMenu -->
    <script src="static/js/stickUp.min.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $(document).ready( function() {
          $('.navbar-default').stickUp();
        });
      });
    </script>
    <!-- Smoothscroll -->
    <script type="text/javascript" src="static/js/jquery.corner.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script>
     new WOW().init();
    </script>
    <script src="static/js/classie.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="static/js/jquery.magnific-popup.js"></script>
</body>
</html>
