<!doctype HTML>
<!--Create upon the Flatfy Theme by [Andrea Galanti](http://www.andreagalanti.it)-->
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="{{ site.name }}">
    <meta name="author" content="{{ site.name }}">

    <title>{{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.baseurl }}/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="{{ site.baseurl }}/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="{{ site.baseurl }}/static/css/general.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/style.css" rel="stylesheet">

    <style>
    h3, h4 {margin-top:5px; margin-bottom:0px;}
    h4 {color:#222}
    .intro-social-buttons {margin-top:10px; margin-bottom:0px;}
    </style>

    <script src="{{ site.baseurl }}/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
</head>

<body id="meetup">

    <!-- Main -->
    <div id="meetup-contents" style="border-top: 0">
        <div class="container">

            <div class="text-center wrap_title">
                <h1 style="font-family: 'Open Sans', sans-serif; font-size:300%;" align="center">Deep Learning Korea Meetup</h1>
            </div>

            <div class="row">
              <div class="col-sm-12 lead">
                {{ content }}
              </div>
            </div>
        </div>
    </div>


    <footer class="footer-banner">
      <div class="container">
        <p>All contents &copy; 2015 Team AI Korea.</p>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="static/js/jquery-1.10.2.js"></script>
    <script src="static/js/bootstrap.js"></script>
    <script src="static/js/owl.carousel.js"></script>
    <script src="static/js/script.js"></script>
    <!-- StikyMenu -->
    <script src="static/js/stickUp.min.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        $(document).ready( function() {
          $('.navbar-default').stickUp();
        });
      });
    </script>
    <!-- Smoothscroll -->
    <script type="text/javascript" src="static/js/jquery.corner.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script>
     new WOW().init();
    </script>
    <script src="static/js/classie.js"></script>
    <!-- Magnific Popup core JS file -->
    <script src="static/js/jquery.magnific-popup.js"></script>
</body>
</html>
